*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
    
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* section, */
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

#menu-icon{
    font-size: 35px;
    padding: 10px 5px;
    background-color: rgb(52, 52, 151);
    color: #fff;
}

#menu ul{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    /* height: 250px; */
    background-color: rgb(52, 52, 151);
    max-height: 0px;
    padding: 0px;
}
#menu ul li{
    width: 200px;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
#menu ul li a{
    color: white;
}
#menu-icon:hover,
#menu-icon .active{
    background-color: rgb(95, 95, 160);
    cursor: pointer;
}

#secondMenu{
    background-color: rgb(95, 95, 160);
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    max-height: 0px;
    overflow: hidden;
    /* padding: 0px 0px; */
}